.App {
  text-align: center;
} 

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: #01153f; */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.login-logo {
  width: 6%; 
  height: 4.5%;
  margin-bottom: 10px; 
  position: absolute;
  left: 20px;
  top: 15px;
}
